.fit-cover {
  object-fit: cover;
}

@media (min-width: 992px) {
  p {
  }
}

@media (min-width: 300px) {
  .product-type {
    margin-top: 4rem;
  }
}

.product-type {
}

@media (min-width: 992px) {
  .product-type {
    margin-top: 1rem;
  }
}

@media (min-width: 300px) {
  .product-type:first-child {
    margin-top: 1rem;
  }
}

element.style {
  width: 100%;
}

@media (min-width: 300px) {
  .follow-us {
    margin-top: 24px;
  }
}

@media (min-width: 992px) {
  .follow-us {
    margin-top: 0;
  }
}

element.style : hover {
}

.product:hover {
  /*border: 1px solid var(--bs-black);*/
  transition: transform 0.2s ease 0s;
  transform: translateY(-4px);
}

