.fit-cover {
  object-fit: cover;
}

@media (min-width: 992px) {
  p {
  }
}

@media (min-width: 300px) {
  .product-type {
    margin-top: 4rem;
  }
}

.product-type {
}

@media (min-width: 992px) {
  .product-type {
    margin-top: 1rem;
  }
}

@media (min-width: 300px) {
  .product-type:first-child {
    margin-top: 1rem;
  }
}

element.style {
  width: 100%;
}

@media (min-width: 300px) {
  .follow-us {
    margin-top: 24px;
  }
}

@media (min-width: 992px) {
  .follow-us {
    margin-top: 0;
  }
}

element.style : hover {
}

.category:hover {
  background-color: var(--bs-gray-200);
}

.bg-secondary-subtle.sort-by {
  cursor: pointer;
}

.bg-body-secondary.link-hover {
  display: block;
}

.bg-body-secondary.link-hover:hover {
  font-weight: 500;
  text-decoration: underline;
  /*background-color: var(--bs-black);*/
  /*color: var(--bs-white);*/
}

.bg-body-tertiary.link-hover.navigate-item:hover {
  text-decoration: underline;
}

